@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --shadow: 0, 0%, 0%, .3;
 
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
 
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
 
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
 
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
 
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 240 10% 3.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --shadow: 0, 0%, 98%, .3;
 
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
 
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
 
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
 
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 240 4.9% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


.leaflet-control-container {
  >.leaflet-top {
    z-index: 1000;
  }
}

#mapPip {
  width: 300px;
  height: 300px;

  .leaflet-control-container {
    >.leaflet-top {
      display: none;
      pointer-events: none;
    }
  }
}

.marker-cluster-small {
	background-color: rgba(11, 134, 191, 0.6);
	}
.marker-cluster-small div {
	background-color: rgba(11, 134, 191, 0.6);
	}

.marker-cluster-medium {
	background-color: rgba(2, 159, 233, 0.67);
	}
.marker-cluster-medium div {
	background-color: rgba(2, 159, 233, 0.67);
	}

.marker-cluster-large {
	background-color: rgba(242, 47, 47, 0.6);
	}
.marker-cluster-large div {
	background-color: rgba(242, 47, 47, 0.6);
	}

	/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
	background-color: rgb(181, 226, 140);
	}
.leaflet-oldie .marker-cluster-small div {
	background-color: rgb(110, 204, 57);
	}

.leaflet-oldie .marker-cluster-medium {
	background-color: rgb(241, 211, 87);
	}
.leaflet-oldie .marker-cluster-medium div {
	background-color: rgb(240, 194, 12);
	}

.leaflet-oldie .marker-cluster-large {
	background-color: rgb(253, 156, 115);
	}
.leaflet-oldie .marker-cluster-large div {
	background-color: rgb(241, 128, 23);
}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
}
.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;

	text-align: center;
	border-radius: 15px;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.marker-cluster span {
	line-height: 30px;
}

.pulsing-dot {
  pointer-events: none;
  position: relative;

  &:before {
    content: ' ';
    position: absolute;
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    border-color: red;
    border-width: 5px;
    border-style: solid;
    animation: pulse 2s infinite;
    transform-origin: center center;
  }
  &:after {
    content: ' ';
    position: absolute;
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    border-color: red;
    border-width: 10px;
    border-style: solid;
    animation: pulse2 2s infinite;
    transform-origin: center center;
  }
}

@keyframes pulse {
  0% {
    transform: scale(.1);
  }
  50% {
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

@keyframes pulse2 {
  0% {
    transform: scale(.1);
    opacity: 0;
  }
  39% {
    transform: scale(.1);
    opacity: 0;
  }
  40% {
    transform: scale(.1);
    opacity: 1;
  }
  90% {
    transform: scale(.9);
    opacity: 0;
  }
  100% {
    transform: scale(.9);
    opacity: 0;
  }
}